.sessions
*.ovpn
*.deb
rustscan/target
kali-dpkg-packages/rustscan/usr/bin/rustscan
kali-dpkg-packages/nessus
kali-dpkg-packages/vmexec/target
kali-dpkg-packages/vmexec/usr/bin/vmexec
kali-dpkg-packages/freeze/usr/share/freeze
labs
shared