Package: jehna-firewall
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Depends: ufw
Maintainer: Jesse Luoto <jesse.luoto@gmail.com>
Description: Custom firewall rules package
 This package sets up custom firewall rules using UFW to restrict network access
 and allow specific connections.
